.box {
    width: 90%;
    max-width: 250px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: #CAAB7B;
}

button {
    width: 80%;
    max-width: 200px;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;
    background-image: url(sprite/background.jpg);
    background-size: cover;
    background-position: center;
}

#bossContainer {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bossSprite {
    width: 40vw;
    max-width: 300px;
    min-width: 150px;
    height: auto;
    object-fit: contain;
}

button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.box {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    background-color: #CAAB7B;
    border-radius: 8px;
    text-align: center;
    font-family: Arial
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.attack{
    transform: translateX(10px);
    transition: transform 0.1s;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}